<div th:replace="common/header"></div>

	<div class="container-fluid">
		
	<H3 class="text-danger"> Editar marca: <span th:text="${nome}"></span></H3>
	<div class="col-6">
		
		<th:block th:include="validador"></th:block>
		
		<form method= "PUT" action= "">
			<!--input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/-->
			<input type="text" name="Nome" id="Nome" class="form-control" th:value="${nome}">
			<input type="hidden" name="ID" id="ID" class="form-control" th:value="${id}">
			<button type="submit" class="btn btn-primary btn-lg btn-block my-2">enviar</button>
				
		</form>
	</div>
</div>
<div th:replace="common/footer"></div>