<div th:replace="common/header"></div>

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<h3 class="text-danger"> Cadastrando produto: </h3>
			
			<th:block th:include="validador"></th:block>
			
			<form th:method="put" th:action="@{/produto/{id}(id=${produto.ID})}">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				
				<div class="row">
					<div class="form-group col-8">
						<label for="name"> Nome: </label>
						<input type="text" name="Nome" id="Nome" class="form-control" th:if="${produto.pc_pronto}" th:value="${produto.pc_pronto.Nome}">
						<input type="text" name="Nome" id="Nome" class="form-control" th:unless="${produto.pc_pronto}" th:value="${produto.peca.Nome}">
					</div>
					
					<div class="form-group col-4">
						<label for="marca"> Marca: </label>
						<select name="marca" id="marca" class="form-control">
							<option th:each="m : ${mar}" th:value="${m.ID}" th:text="${m.Nome}" th:if="${produto.marca.ID} ==${m.ID}" selected></option>
							<option th:each="m : ${mar}" th:value="${m.ID}" th:text="${m.Nome}" th:unless="${produto.marca.ID} ==${m.ID}"></option>
						</select>
					</div>		
				</div>

				<div class="row">
					<div class="form-group col-4">
						<label for="PrecCusto"> Preço de custo: </label>
						<input type="number" step="0.01" name="PrecCusto" id="PrecCusto" class="form-control" th.value="${produto.PrecCusto}">
					</div>
					
					<div class="form-group col-4">
						<label for="tags"> Tags: </label>
						<select id="tags" th:field="*{produto.tags}" class="form-control" multiple>
							<option th:each="t : ${tag}" th:value="${t.ID}" th:text="${t.Nome}"></option>
						</select>
					</div>
							
					<div class="form-check pt-2">
					    <input type="radio" class="form-radio-input" id="pc-pronto" name="is_pc_pronto" value="pc_pronto" th:if="${produto.PcPronto}" checked>
					    <input type="radio" class="form-radio-input" id="pc-pronto" name="is_pc_pronto" value="pc_pronto" th:unless="${produto.PcPronto}" >
					    <label class="form-radio-label" for="pc-pronto">Pc Pronto</label>
					    <br>
					    <input type="radio" class="form-radio-input" id="peca" name="is_pc_pronto" value="peca"th:if="${produto.PcPronto != true}" checked>
					    <input type="radio" class="form-radio-input" id="peca" name="is_pc_pronto" value="peca"th:unless="${produto.PcPronto != true}" >
					    <label class="form-radio-label" for="peca">Peça</label>
				  	</div>
				</div>
				
				<div class="row" id="pecas">
					<div class="form-group col-4">
						<label for="Capacidade"> Capacidade: </label>
						<input type="number" step="0.01" name="Capacidade" id="Capacidade" class="form-control" th:if="${produto.pc_pronto}"value="0">
						<input type="number" step="0.01" name="Capacidade" id="Capacidade" class="form-control" th:unless="${produto.pc_pronto}" th:value="${produto.peca.Capacidade}">
					</div>
					
					<div class="form-group col-2">
						<label for="UniMedida"> Unidade de Medida: </label>
						<input type="text" name="UniMedida" id="UniMedida" class="form-control" th:if="${produto.pc_pronto}">
						<input type="text" name="UniMedida" id="UniMedida" class="form-control" th:unless="${produto.pc_pronto}" th:value"${produto.peca.UniMedida}">
					</div>

					<div class="form-group col-2">
						<label for="Quantidade"> Quantidade: </label>
						<input type="number" name="Quantidade" id="Quantidade" class="form-control" th:if="${produto.pc_pronto}" value="0">
						<input type="number" name="Quantidade" id="Quantidade" class="form-control" th:unless="${produto.pc_pronto}" th:value="${produto.peca.Quantidade}">
					</div>
					
					<div class="form-group col-4">
						<label for="tipoPeca"> Tipo de Peça: </label>
						<select name="tipoPeca" id="tipoPeca" class="form-control" th:if="${produto.peca}">
							<option th:each="tp : ${tpeca}" th:value="${tp.ID}" th:text="${tp.Nome}" th:if="${produto.peca.tipo_peca.ID}=={tp.ID}" selected></option>
							<option th:each="tp : ${tpeca}" th:value="${tp.ID}" th:text="${tp.Nome}" th:unless="${produto.peca.tipo_peca.ID}=={tp.ID}" ></option>
						</select>
						<select name="tipoPeca" id="tipoPeca" class="form-control" th:unless="${produto.peca}">
							<option th:each="tp:${tip}" th:value="${tp.ID} " th:text="${tp.Nome}"></option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="formo-group col-3"></div>
					<div class="form-group col-6">
						<label for="description"> Descrição: </label>
						<textarea name="Descricao" id="Descricao" class="form-control" cols="20" rows="15" th:if="${produto.pc_pronto}" th:text="${produto.pc_pronto.Descricao}"></textarea>
						<textarea name="Descricao" id="Descricao" class="form-control" cols="20" rows="15" th:unless="${produto.pc_pronto}" th:text="${produto.peca.Descricao}"></textarea>
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary btn-lg btn-block col-6 mx-auto my-2"> Enviar </button>
			</form>
		</div>
	</div>
</div>
<div th:replace="common/footer"></div>